@model MovieRental.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Customers</h2>
@if (@Model.Customers.Count == 0)
{
    <h5> System doesn't have any customers yet.</h5>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model.Customers)
            {
                <tr>
                    <th>@customer.Id</th>
                    <th> @Html.ActionLink(@customer.Name, "Details", "Customers", new { id = @customer.Id }, null) </th>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Add New Customer", "Add", "Customers", null, new { @class = "btn btn-primary" })
}


